@import "../../app/variables";



.modal {
  background: rgb(255, 255, 255);
  padding: 32px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}


.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  position: relative;
  z-index: 9;
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;

    span {
      color: $color-grey-1;
      font-weight: 400;
    }
  }
}

.formGroup {
  margin-bottom: 16px;
  position: relative;
}


.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.uploadSection {
  border: 1px dashed $color-brand-1;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: $color-brand-2;
  text-align: left;
  position: relative;
}

.uploadHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $color-brand-1;
  margin-bottom: 8px;

  p {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
  }
}

.uploadIcon {
  width: 20px;
  height: 20px;
}

.fileInfo {
  font-size: 14px;
  color: $color-grey-1;
  white-space: normal;
  margin-bottom: 16px;

  &.error {
    color: $color-danger;
  }
}

.fileInput {
  display: none;
}

.browseButton {
  display: block;
  margin-top: 8px;
  background-color: white;
  color: #0045e6;
  border: 1px solid #0045e6;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.browseButton:hover {
  background-color: #0045e6;
  color: white;
}

.createSection {
  border: 1px dashed $color-border-grey;
  padding: 26px 24px;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 20px;

  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
  }
}

.outlinedButton {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 14px 52px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.createButton {
  background-color: white;
  color: #0045e6;
  border: 1px solid #0045e6;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 8px;
  display: block;
}

.createButton:hover {
  background-color: #0045e6;
  color: white;
}

.facilitiesContainer {
  display: flex;
  justify-content: left;
  margin-bottom: 32px;
  gap: 6px;
}

.facilityButton {
  background-color: #ffffff;
  border: 1px solid $color-grey-1;
  color: #000;
  padding: 13px 16px;
  margin-right: 5px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  line-height: 16px;
  transition: all 0.3s ease;
}

.facilityButton.selected {
  background-color: $color-brand-1;
  border-color: $color-brand-1;
  color: white;
}


.jobDescriptionTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-left: 5px;
}

.jobDescriptionText {
  margin: 8px 0;
  padding: 5px;
  border-radius: 3px;
  background: #eee;
  text-align: left;
}
.highlightText{
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}

.jobExperience {
  display: block;
  background-color: #f0f0f0;
  padding: 6px 10px;
  border-radius: 3px;
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
}

.agencyLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.descriptionSection h6 {
  font-size: 16px;
  margin-bottom: 8px;
  text-align: left;
}


.downloadButton,
.editButton,
.postJobButton {
  background-color: #007bff;
  flex: 1;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin: 0px 4px;
  transition: background-color 0.3s;
}

.downloadButton:hover,
.editButton:hover,
.postJobButton:hover {
  background: #0056b3;
}

.contactSection {
  margin-top: 15px;
}

.footerDetails,
.contactNumber,
.email,
.location {
  margin: 1px 0;
  font-size: 12px;
}

.contactSection h4 {
  font-size: 16px;
  margin-bottom: 8px;
}


.h4 {
  font-size: 16px;
  font-weight: 600;
  color: $color-success;
  text-align: center;
  line-height: 19px;
  margin-bottom: 14px;
}

.h3 {
  color: #fff;
  text-align: center;
  padding: 8px; // Reduced padding
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 15px;
}

.selectedFileName {
  font-size: 14px;
  color: #555;
  margin-top: 8px;
}


.cancelButton {
  background-color: white;
  color: #0045e6;
  border: 1px solid #0045e6;
  padding: 8px 16px;
  margin: 0 8px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.cancelButton:hover {
  background-color: #0045e6;
  color: white;
}


.continueButton:enabled {
  background-color: $color-brand-1;
  color: white;
  cursor: pointer;
}

.formLabel{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $color-grey-2;
  margin-bottom: 20px;
}
.actions {
  display: flex;
  justify-content: right;
  gap: 16px;
  margin: 16px -32px -32px -32px;
  padding: 12px 32px;
  box-shadow: 0px 0px 4px 0px rgba(0, 69, 230, 0.3);
}

.positionsContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  align-items: center;
}

.disabled {
  background-color: #d3d3d3;
  color: white;
  cursor: not-allowed;
}

.addMoreButton {
  display: inline-block;
  background-color: transparent;
  color: $color-brand-1;
  /* Use the blue color as in the picture */
  border: none;
  /* Remove border */
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
}

.positionDelete{
  color: $color-danger;
  margin: 14px 5px;
  cursor: pointer;
}

.addMoreButton:hover {
  color: #3b4dc1;
  /* Darker shade of blue for hover effect */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.jobTitleInput,
.experienceInput,
.salaryInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
}

.jobTitleInput {
  flex: 3;
  /* Job title input takes up the most space */
}

.experienceInput {
  flex: 1.5;
  /* Experience dropdown takes less space */
}

.salaryInput {
  flex: 1.5;
  /* Salary input takes a bit more space */
}


.salary {
  text-align: center;
  color: #666;
}

.type {
  text-align: right;
  color: #333;

}


.contactContainer {
  display: flex;
  gap: 8px;

}

.countryCodeInput {
  border-radius: 50px;
  width: 70px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
}

.phoneInput {
  width: 73%;
  border-radius: 3px;
}

.createJobButton {
  padding: 8px 16px;
  background-color: #4429f4;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
  margin: 0 8px;
}


.createJobButton.disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.errorMessage {
  color: red;
  margin-top: -7px;
  margin-bottom: 11px;
  font-size: 12px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  position: relative;
  z-index: 1010;
  pointer-events: auto;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  .loadingContent{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: $color-grey-2;
  }
}

.createSpinner {
  margin-top: 20px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.successScreen {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.subHeader {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.message {
  color: green;
  font-size: 16px;
  margin-bottom: 15px;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.actions {
  margin-top: 20px;
  display: flex;

}


.jobDetailsModal {
  background: #fff;
  padding: 5px;
  border-radius: 8px;
  max-width: 560px;
  border: 2px solid rgba(236, 236, 236, 1);
  position: relative;
  transition: transform 0.3s ease-in-out;
  font-size: 14px;
  transform: scale(0.7);
  margin: -100px auto;
}
.fullScreen{
  transform: scale(1);
  margin: 0px auto;

}
.imageContainer{
  position: relative;

}


.headerContainer {
  text-align: center;
  padding: 10px;
}

.innerCard {
  padding: 0px;
  background-color: white;
}




.jobPositionTitle {
  font-weight: bold;
  font-size: 14px;
}

.fullScreenButton {
  position: absolute;
  top: 10px;
  /* Adjusted positioning for the full screen button */
  right: 10px;
  font-size: 18px;
  /* Larger size for the icon */
  background-color: transparent;
  /* Transparent background */
  color: #0045e6;
  /* Button font size */
}

.fullScreen {
    transform: scale(1);  
}

.fullScreenBackdrop {
  background: rgba(0, 0, 0, 0.8);
}
.overFlowTable{
  max-height: 300px;
  overflow-y: auto;
  ::-webkit-scrollbar {
    width: 5px;
  }
}

.expandButton {
  position: relative;
  right: -150px;
  background: rgba(0, 0, 0, 0.9);
  border: none;
  padding:5px 10px;
  border-radius: 3px;
  z-index: 1;
  cursor: pointer;
  color: #fff;
  /* Ensure the button appears above other elements */
  transition: color 0.3s;
}

.closeFullscreen{
  position: absolute;
  right: -5px;
  background: transparent;
  box-sizing: none;
  border: none;
  top: -40px;
  color: #fff;
}

.expanded {
  /* Full width within modal */
  max-width: 95vw;
  /* No exceeding viewport width */
  max-height: 90vh;
  /* No exceeding viewport height */
  /* Optionally, you can adjust the height or add other styles */
}

.container {
  position: relative;
  padding-bottom: 60px;
  /* Ensure there's space for the icon at the bottom */
}

.expandButton:hover {
  color: #0056b3;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}

.hiddenBackdrop {
  display: none;
  /* Completely hide the backdrop */
}
.colorLabel{
  text-align: left ;
  width: 100%;
  margin-top: 0px;
}
.colorInput{
  display: flex;
  align-items: center;
  .pickerIcon{
    cursor: pointer;
  }
}
.colorPicker{
  display: flex;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  right: -180px;
  justify-content: right;
}
.download{
  font-size: 14px;
  font-weight: 500;
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  img{
    margin-right: 8px;
  }
  &:hover{
    opacity: 0.8;
  }
}