@import "../../app/variables";

.modal {
    background: rgb(255, 255, 255);
    padding: 32px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }
  .formGroup {
    margin-bottom: 16px;
    position: relative;
  }
  
  .createSpinner {
    margin-top: 20px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .actions {
    display: flex;
    justify-content: right;
    gap: 16px;
    margin: 16px -32px -32px -32px;
    padding: 12px 32px;
    box-shadow: 0px 0px 4px 0px rgba(0, 69, 230, 0.3);
  }
  .popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    .loadingContent{
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      color: $color-grey-2;
    }
  }
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    position: relative;
    z-index: 9;
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
  
      span {
        color: $color-grey-1;
        font-weight: 400;
      }
    }
  }

  .closeButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .overFlowSection{
    max-height: 600px;
    padding-right: 32px;
    overflow-y: auto;
    margin-right: -32px;
  }
  
  

  .formGroup {
    margin-bottom: 16px;
    position: relative;
  }
  

  .closeButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .uploadSection {
    border: 1px dashed $color-brand-1;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: $color-brand-2;
    text-align: left;
    position: relative;
  }

  .uploadHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $color-brand-1;
    margin-bottom: 8px;
  
    p {
      margin-bottom: 0px;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .uploadIcon {
    width: 20px;
    height: 20px;
  }

  .fileInfo {
    font-size: 14px;
    color: $color-grey-1;
    white-space: normal;
    margin-bottom: 16px;
  
    &.error {
      color: $color-danger;
    }
  }

  .fileInput {
    display: none;
  }

  .browseButton {
    display: block;
    margin-top: 8px;
    background-color: white;
    color: #0045e6;
    border: 1px solid #0045e6;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  .browseButton:hover {
    background-color: #0045e6;
    color: white;
  }

  .createSection {
    border: 1px dashed $color-border-grey;
    padding: 26px 24px;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 20px;
  
    h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 0px;
    }
  }

  .outlinedButton {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 14px 52px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }

  .createButton {
    background-color: white;
    color: #0045e6;
    border: 1px solid #0045e6;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 8px;
    display: block;
  }

  .createButton:hover {
    background-color: #0045e6;
    color: white;
  }
  
  
  
  
  
  
  