@import "../../../app/variables";

.backlink {
    cursor: pointer;
    font-weight: 600px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: $color-grey-3;
    margin-bottom: 24px;
    line-height: 19px;
}

.summaryCard {
    .summaryCardBody {
        padding: 24px;
    }

    .imageContainer {
        margin-bottom: 24px;
        position: relative;
    }

    .jobInfoList {
        padding-left: 0px;
        li {
            display: block;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            margin-bottom: 16px;
            img {
                margin-right: 8px;
                vertical-align: middle;
            }
            span{
                vertical-align: middle;
            }
            a {
                color: $color-brand-1;
                text-decoration: underline;
            }
        }
    }

    .footerInfo {
        display: flex;
        gap: 48px;
        padding: 0px;
        margin-top: 69px;
        margin-bottom: 8px;

        li {
            display: block;
            font-size: 14px;
            color: $color-grey-3;
            font-weight: 400;
            line-height: 17px;

            img {
                margin-right: 8px;
            }
        }
    }
}

.detailsCard {
    padding: 32px;

    p {
        font-size: 14px;
        line-height: 17px;
        margin: 0px;
    }

    .detailsCardHeader {
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        .actionContainer {
            align-items: center;
            gap: 14px;
            display: flex;

            .editButton {
                padding: 13px 30px;
            }

            .dropdownButton {
                background-color: transparent;
                border: none !important;

                svg {
                    path {
                        fill: #000
                    }
                }

                &:after {
                    display: none;
                }
            }
        }
    }
    .jobDescription{
        h4{
            font-size: 16px;
            margin-top: 40px;
        }
        
    }
    .walkinDetail{
        margin-bottom: 50px;
    }
    .walkinInfoCont{
        gap:10px
    }
    .walkinInfo{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .detailsCardBody {
        padding: 0px;

        h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 16px;
        }

        h5 {
            font-size: 16px;
            font-weight: 400;
            color: #000;
            margin-bottom: 12px;
            line-height: 20px;

            span {
                display: inline-block;
                color: $color-grey-1;
                min-width: 160px;

            }
        }

        .line {
            height: 1px;
            background-color: rgba(224, 224, 224, 1);
            margin: 24px 0;
        }

        .positions {

            table {
                tbody {
                    td {
                        font-size: 14px;
                        line-height: 20px;
                        color: rgba(33, 33, 33, 1);
                        padding: 6px 40px 6px 0px;
                    }
                }
            }

            .title {
                font-weight: 500;
                color: #000;
            }
        }

        .benefits {
            margin-top: 24px;
            padding: 0px;
            display: flex;
            gap: 32px;

            li {
                display: block;
                font-size: 16px;

                img {
                    margin-right: 3px;
                }
            }
        }
    }
}

.agencyDetails {
    gap: 12px;
    display: flex;
    align-items: center;

    .agencyNameContainer {
        display: flex;
        align-items: flex-start;
        gap: 6px;
        margin-bottom: 8px;

        img {
            margin-top: 5px;
        }
    }

    .agencyName {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 0px;
    }
}






.modal {
    background: rgb(255, 255, 255);
    padding: 32px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }
  .formGroup {
    margin-bottom: 16px;
    position: relative;
  }
  
  .createSpinner {
    margin-top: 20px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .actions {
    display: flex;
    justify-content: right;
    gap: 16px;
    margin: 16px -32px -32px -32px;
    padding: 12px 32px;
    box-shadow: 0px 0px 4px 0px rgba(0, 69, 230, 0.3);
  }
  .popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    .loadingContent{
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      color: $color-grey-2;
    }
  }
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    position: relative;
    z-index: 9;
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
  
      span {
        color: $color-grey-1;
        font-weight: 400;
      }
    }
  }

  .closeButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  

  
   
  
  .deletePrompt{
    text-align: left;

    h3{
      font-size: 16px;
      font-weight: 400;
    }
    p{
      font-weight: 600;
    }
  }
  
  
  
  
  