.expand-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    background: black ;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .danger{
    color: $color-danger !important;
  }

  .success{
    color: $color-success !important;
  }

  .multiselect-checkbox-container{
    display: flex !important;
    align-items: center !important;
    padding: 16px 24px !important;
    .multiselect-checkbox{
      width: 16px;
      height: 16px;
      border-color: #000;
      border-radius: 2px;
      margin-right: 16px;
    }
    img{
      margin-right: 8px;
    }
  }
 
.value-container{
  h6{
    color: $color-brand-1;
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
  }
}