
.expand-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    background: black ;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .danger{
    color: $color-danger !important;
  }

  .success{
    color: $color-success !important;
  }