$color-brand-1: #0045E6;
$color-brand-2: rgba(246, 241, 255, 1);
$color-grey-1: rgba(117, 117, 117, 1);
$color-grey-2: rgba(32, 32, 32, 1);

$color-dark-grey: rgba(126, 126, 126, 1);
$color-border-grey: rgba(189, 189, 189, 1);
$color-danger: rgb(228, 77, 77);
$color-success: rgba(76, 168, 25, 1);
$box-shadow-1: 0px 2px 8px 0px rgba(65, 55, 255, 0.08);