@import "../../../app/variables";
.container {
    margin-top: 125px; 
    padding: 20px;
  }
  
  .heading {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500px;
  }
  
  .registeredUsers {
    margin-top: 20px; 
  }
.tableContainer{
    height: 50vh;
    overflow: auto;
}
.userTable {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    line-height: 1.5;
    thead{
        position: sticky; top: 0; z-index: 1;
        background-color: #fff;
        // box-shadow: $box-shadow-1;
    }
    th{
        color: rgba(117, 117, 117, 1);
        font-weight: 700;
        font-size: 12px;
        cursor: pointer;
        display: flex;
        flex: 1;
        text-transform: uppercase;
        padding: 24px 5px;
        &:first-child{
            padding: 24px 16px;
        }
    }
    td{
        font-size: 13px;
        padding: 18px 5px;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        word-wrap:break-word;
        text-overflow: ellipsis;
        &:first-child{
            padding: 18px 16px;
        }
        a{
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;
            color: $color-brand-1;
        }
        .normalLink{
            font-weight: 400;
            font-size: 13px;
        }
    }
    
}


.userTable tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.userTable tbody tr:nth-child(even) {
    background-color: #fff;
}

.userTable tbody tr:hover {
    background-color: #e9ecef;
}