@import "../../app/variables";

.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 22px 48px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 88px;
  width: 100%;
}


.navContainer {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 20px;
  padding-left: 67px;
}

.navListItem { 
  font-size: 14px;
  color: #000;
  padding: 0px 10px;
  font-weight: 400;
  cursor: pointer;
   &.active,&:hover{
    color: $color-brand-1;
   }
   &.active{
    font-weight: 600;
   }
}

.ReportsDownIcon {
  margin-left: 15px;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  color: #333;
}

.rightNavItems {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 48px;
}

.fa-bell {
  color: black;
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 10px;
}

.fa-bell:hover {
  color: blue;
}

.postJob {
  font-weight: 500;
  color: $color-brand-1;
  border: 1px dashed $color-brand-1;
  background-color: $color-brand-2;
  border-radius: 8px;
  padding: 13px 24px !important;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;

}

.postJob i {
  font-size: 1.2em;
  margin-right: 5px;
  color: #0045E6;
}

.superAdmin {
  font-weight: 500;
  color: #000;
  display: flex;
  font-size: 16px;
  line-height: 16px;
}

.dropdownMenu {
  position: absolute;
  right: 90px;
  top: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style: none;
}

.dropdownItem {
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}